body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

#card {
  background: white;
  padding: 20px;
  margin: 50px auto;
  width: 300px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 10px;
}
