body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

#word-container p {
    font-size: 60px;
    margin: 20px 0;
}

/* Tăng cỡ chữ tiếng Hàn */
#korean {
    font-size: 300px;
    font-weight: bold;
}

#buttons button {
    font-size: 20px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#progress {
    font-size: 18px;
    margin-top: 15px;
}







